<div class="container mt-5">
  <div class="row">
    <div class="col-12" style="text-align: center;">
      <h1>短網址產生器</h1>
    </div>

  </div>

  <div class="row">
    <form action="/" method="POST" class="col-8 mx-auto text-center mt-3">
      <div class="form-group">
        <label for="url">取得短網址</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="輸入網址" value={{{url}}}>
      </div>

      <button type="submit" class="btn btn-primary">產生</button>
    </form>
  </div>

  <div class="row">
    <div class="col-8 mx-auto text-center mt-5">
      <h4>你的縮網址為</h4>
      <div>
        <a type="text" class="col-5" id="url-short">localhost:3000/{{{url_shorten}}}</a>
      </div>

    </div>
  </div>
</div>